body{
 background-image: url(fon1.GIF)
}
h1{
font-family: "Monotype Corsiva"
font-size: 24pt;
text-decoration: underline;
text-align: center;
}
p{
border: 6px solid #0070c0;
text-align: center;
height: 250px;
width: 650px;
background: #ffff00;
font-size: 24pt;
}
td{
valign="top"
}